*{
    margin: 0;
    border: 0;
    padding: 0;
}
.parent{
    display: grid;
    grid-template: auto 1 fr / auto 1fr auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.parent header{
    grid-column: 1/4;
    height: 300px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* empuja el nav al fondo */
}
.parent main{
    grid-column: 1/3;
    background-color: gray;
    height: 250px;
}
.parent aside{
    grid-column: 3/4;
    background-color: aliceblue;
}
.parent footer{
    grid-column: 1/4;
    height: 200px;
    background-color: darkgray;
}
nav{
    display: flex;
    background-color: black;
    color: aliceblue;
}
nav ul{
    flex: 1 1 auto;
    margin: 1rem;
    
}


